.cf-nav-item {
    padding: 12px 16px;
    border-radius: 6px;
    margin-bottom: 4px;
    transition: background-color 0.25s ease, color 0.25s ease, transform 0.2s ease;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    align-items: center;
    text-decoration: none;
    color:rgb(54, 54, 54);
    position: relative;
}
.cf-nav-item:hover {
    background-color:rgba(136, 151, 147, 0.25);
    color: #059669;
    transform: translateX(3px);
}
.cf-nav-item.active {
    background-color: rgba(5, 150, 105, 0.15);
    color:rgb(0, 76, 24);
    font-weight: 600;
}
.cf-nav-item::before,
.cf-sub-item::before {
    content: "";
    position: absolute;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.cf-nav-item:hover::before,
.cf-nav-item.active::before {
    opacity: 1;
}
.cf-nav-item.active::before {
    top: 8px; bottom: 8px; width: 4px;
    border-radius: 0 4px 4px 0;
    background-color: #059668ba;
}

/* Sub items */
.cf-sub-item {
    padding: 10px 16px;
    border-radius: 6px;
    display: block;
    font-size: 14px;
    color: #374151;
    text-decoration: none;
    position: relative;
    transition: background-color 0.25s ease, color 0.25s ease, transform 0.2s ease;
}
.cf-sub-item:hover {
    background-color: #f3f4f6;
    color: #059669;
    transform: translateX(3px);
}
.cf-sub-item.active {
    background-color: rgba(5, 150, 105, 0.15);
    color: #034f37;
    font-weight: 600;
}
.cf-sub-item.active::before {
    top: 6px; bottom: 6px; width: 3px;
    border-radius: 0 3px 3px 0;
    background-color: #059668ba;
    opacity: 1;
}



[x-cloak] { 
    display: none !important; 
}


.cf-nav-item,
.cf-sub-item {
    transform: translateZ(0);
    backface-visibility: hidden;
}


[x-collapse] {
    transition: height 0.3s ease-in-out;
}